body {
  margin: 0;
  padding: 0;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.box {
  max-width: 35rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 2%;
  color: #fff;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.box h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
  margin-bottom: 20px;
}
.box h5 {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
  margin-bottom: 20px;
}

.box p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.icon {
  font-size: 40px;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-decoration: none;
  color: #fff;
  transition: all ease-in-out 250ms;
}

a:hover {
  color: #b9b9b9;
}

@media (max-width: 40em) {
  .box {
    padding: 5px;
    padding-top: 15px;
  }
}
